<nav id="mainNav" class="navbar navbar-expand-lg fixed-top transition-all {% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'admin_history' %}navbar-light{% else %}navbar-dark{% endif %}" style="background: transparent;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'common:home' %}" style="font-size: 1.5rem; letter-spacing: 1px;">
            DriveHub
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-3">
                    <a class="nav-link" href="{% url 'vehicles:vehicles_list' %}">Vehículos</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="{% url 'common:about' %}">Nosotros</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="{% url 'common:contact' %}">Contacto</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end border-0 rounded-0 mt-2">
                            {% if user.is_staff %}
                            <li><a class="dropdown-item py-2" href="/admin/">Panel Admin</a></li>
                            <li><a class="dropdown-item py-2" href="{% url 'vehicles:admin_history' %}">Historial</a></li>
                            {% endif %}
                            <li><a class="dropdown-item py-2" href="{% url 'users:logout' %}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Cuenta</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>